@inject NavigationManager navigationManager
@inject HttpClient httpClient
@page "/ledger"
@using FuelStation.Blazor.Shared.ViewModels;
<h3>Ledger</h3>
@code{
    //TODO:finish ledger.razor it tommorrow
    }