@page "/carlist/add"
@inject HttpClient httpClient
@inject NavigationManager navigationManager
@using Session_27.Shared;
<h3>Add New Car</h3>

<EditForm Model="Car" OnValidSubmit="OnCreate">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="col-md-6">
        <input type="hidden" class="form-control" id="code" @bind="Car.Id" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Brand</label>
        <InputText class="form-control" id="code" @bind-Value="Car.Brand" />
        <ValidationMessage For="@(() => Car.Brand)" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Model</label>
        <InputText class="form-control" id="description" @bind-Value="Car.Model" />
        <ValidationMessage For="@(() => Car.Model)" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Registration Code</label>
        <InputText class="form-control" id="price" @bind-Value="Car.CarRegistrationNumber" />
        <ValidationMessage For="@(() => Car.CarRegistrationNumber)" />
    </div>
    <div class="row mt-2">
        <div class="col">
            <button class="btn btn-success" type="submit">Add new Car</button>
            <button class="btn btn-danger" @onclick="OnCancel">Cancel</button>
        </div>
    </div>
</EditForm> 

@code {
    CarCreateDto Car { get; set; } = new();
    bool isLoading = true;
   
    private void OnCancel() {
        navigationManager.NavigateTo("carlist");
    }
    private async Task OnCreate() {
        HttpResponseMessage? response;
        response = await httpClient.PostAsJsonAsync("car", Car);
        response.EnsureSuccessStatusCode();
        navigationManager.NavigateTo("carlist");
    }

}
