<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Session-27</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CustomerList">
                <span class="oi oi-plus" aria-hidden="true"></span> Customer List
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CarList">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Car List
            </NavLink>
        </div><div class="nav-item px-3">
            <NavLink class="nav-link" href="ServiceTask">
                <span class="oi oi-plus" aria-hidden="true"></span> Service Task
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ManagerList">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Manager List
            </NavLink>
        </div><div class="nav-item px-3">
            <NavLink class="nav-link" href="EngineerList">
                <span class="oi oi-plus" aria-hidden="true"></span> Engineer List
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Transactions">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Transactions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TransactionLines">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Transaction Lines
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
