<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Car Service Shop</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CustomerList">
                <span class="oi oi-plus" aria-hidden="true"></span> Customer Management
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CarList">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Car Management
            </NavLink>
        </div><div class="nav-item px-3">
            <NavLink class="nav-link" href="ServiceTaskList">
                <span class="oi oi-plus" aria-hidden="true"></span> Service Task Section
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="managerlist">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Manager Info
            </NavLink>
        </div><div class="nav-item px-3">
            <NavLink class="nav-link" href="engineerlist">
                <span class="oi oi-plus" aria-hidden="true"></span> Engineer Management
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="transactionlist">
                <span class="oi oi-plus" aria-hidden="true"></span> Transaction Section
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="monthlyledger">
                <span class="oi oi-list-rich" aria-hidden="true"></span> MonthlyLedger
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
