<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <h2>Welcome to Car Service Shop</h2>
    <ul>
        <li>Car Management is for Creating and Managing Customer's Car info</li>
        <li>Customer Management is for Creating and Managing Customer's info</li>
        <li>Engineer Management is for Creating and Managing Working Engineers' info</li>
        <li>Manager Management is for Creating and Managing Working Managers' info</li>
        <li>Service Task Management is for Creating and Managing Available Services</li>
        <li>Transaction Sector is for Transactions in general</li>
    </ul>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? Title { get; set; }
}
