@page "/transactionlist"
@using Session_27.Shared;
@using Session_27.Model;
@inject HttpClient httpClient
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime

<h3>TransactionEdit</h3>

@code {

}
