@{
    ViewData["Title"] = "Product Category Management";
}

<div class="text-center">
    <h1 class="display-4">Product Category Management</h1>
    <p>Welcome to Coffee Shop Product Category Management</p>
</div>